@layer components {
  .prophecy {
    animation: 2s widthen linear forwards;
    width: 0%;
    overflow: hidden;
    white-space: nowrap;

    font-size: 14px;
  }

  .nav-links {
    animation: 1s heighten ease-out forwards;
    z-index: 123;
  }

  .nav-links::before {
    position: fixed;
    content: "";
    width: 100%;

    z-index: -121;

    right: 0%;
    bottom: 0%;
    background-color: black;
    transform-origin: top;

    animation: 0.5s heighten ease-out forwards;
  }

  .shown {
    display: flex !important;
  }

  .notShown {
    opacity: 0;

    @media screen and (prefers-reduced-motion: reduce) {
      & {
        opacity: 1;
      }
    }
  }

  .inputField:focus ~ .inputLabel,
  .inputField:required ~ .inputLabel,
  .inputField:not(:placeholder-shown) ~ .inputLabel {
    padding: 6px;
    background-color: purple;
    color: white;
    top: -10px;
    left: calc(93% - 64px);

    max-width: 70%;

    white-space: nowrap;

    font-size: 14px;

    box-shadow: 0 0 8px purple;
    font-weight: bold;

    transition: 0.3s all ease-out;
  }

  .inputField {
    transition: 1.5s border ease-out;
  }

  .inputField:not(:empty) {
    ::placeholder {
      display: none;
    }
  }
  .form {
    width: clamp(24rem, 70vw, 30rem);
    min-height: 25rem;

    animation: shadowy 4s infinite;
  }

  .popover {
    animation: animate-blur 0.5s linear forwards;
  }

  .circle {
    background-color: transparent;
    border: 8px solid;
    position: fixed;
    z-index: 123;

    border-radius: 4123px;

    animation: circle 1s forwards linear;
  }

  .circleIn {
    border-radius: 4213px;
    background-color: transparent;
    border: 8px solid;
    position: fixed;
    z-index: 123;

    animation: circle 0.5s forwards linear;
    animation-direction: reverse;
  }

  .header {
    background: radial-gradient(circle, #5f3dc4 0%, #91a7ff 30%, #13004d 100%);
    background-size: 180% 180%;
    background-repeat: no-repeat;
    background-position: center;
    animation: animate-blur forwards 1s ease-in;
    clip-path: circle(max(15rem, 28%));
  }

  .header-text {
    text-shadow: -2px 2px 0 #13004d, 2px 2px 0 #13004d, 2px -2px 0 #13004d,
      -2px -2px 0 #13004d;
  }

  .appear {
    animation: animate-blur 0.5s forwards 1 linear;
  }

  .widthen {
    animation: animate-blur 0.5s forwards 1 linear;
  }
}

@media (min-width: 800px) {
  .prophecy {
    font-size: 18px !important;
  }
}
