@layer components {
  .prophecy {
    animation: 2s widthen linear forwards;
    width: 0%;
    overflow: hidden;
    white-space: nowrap;

    font-size: 10px;
  }

  .nav-links {
    animation: 0.5s appear ease-out forwards;
    z-index: 123;
  }

  .nav-links::before {
    position: fixed;
    content: "";
    width: 100%;

    z-index: -121;

    right: 0%;
    bottom: 0%;
    background-color: black;
    transform-origin: top;

    animation: 0.5s appear ease-out forwards;
  }

  .shown {
    display: flex !important;
  }

  .inputField:focus ~ .inputLabel,
  .inputField:required ~ .inputLabel,
  .inputField:not(:placeholder-shown) ~ .inputLabel {
    padding: 6px;
    background-color: purple;
    color: white;
    top: 1%;
    left: calc(92% - 16px);

    max-width: 70%;

    white-space: nowrap;

    font-size: 14px;

    box-shadow: 0 0 8px purple;
    font-weight: bold;

    transition: 0.3s all ease-out;
  }

  .inputField {
    transition: 1.5s border ease-out;
  }

  .inputField:not(:empty) {
    ::placeholder {
      display: none;
    }
  }
}

@media (min-width: 800px) {
  .prophecy {
    font-size: 18px !important;
  }
}
