@import "./components.scss";
@import "./utilities.scss";

* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

