@import "./components.scss";
@import "./utilities.scss";

* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -2323;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

//! /////////////////// Placeholder fix ///////////////////////////////

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: transparent;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: transparent;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: transparent;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: transparent;
}
input::placeholder {
  color: transparent;
}
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: transparent;
}
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: transparent;
}
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: transparent;
}
textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: transparent;
}
textarea::placeholder {
  color: transparent;
}


