@import "./components.scss";
@import "./utilities.scss";
@import "./spiner.scss";

* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  &:focus:not {
    outline: pink dashed !important;
    outline-width: 5px;
  }
  @media screen and (prefers-reduced-motion: reduce) {
    & {
      animation: none !important;
    }
  }
}

html {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -2323;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

//! /////////////////// Placeholder fix ///////////////////////////////

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  @apply bg-blue-200;

  width: 16px;
}

::-webkit-scrollbar-thumb {
  @apply border-purple-600;
  background-color: black;
  box-shadow: inset 0 0 24px #7e22ce;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: transparent;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: transparent;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: transparent;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: transparent;
}
input::placeholder {
  color: transparent;
}
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: transparent;
}
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: transparent;
}
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: transparent;
}
textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: transparent;
}
textarea::placeholder {
  color: transparent;
}
