@layer utilities {
  @keyframes widthen {
    from {
      width: 0%;
    }
    to {
      underline: white;
      width: 100%;
    }
  }

  @keyframes heighten {
    from {
      height: 0%;
      color: black !important;
    }
    to {
      height: 100vh;
      color: white;
    }
  }

  @keyframes shadowy {
    0% {
      box-shadow: 0 0 64px #312e81;
    }

    50% {
      box-shadow: 0 0 32px #312e81;
    }

    100% {
      box-shadow: 0 0 64px #312e81;
    }
  }

  @keyframes animate-blur {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes circle {
    0% {
      min-height: 0%;
      min-width: 0%;
      border-color: black;
    }

    50% {
      border-color: white;
    }

    100% {
      min-height: 300vh;
      min-width: 300vh;
    }
  }
  @keyframes appear-nav {
    0% {
    }

    100% {
      transform: translateY(8px);
    }
  }

  @keyframes ascend {
    0% {
      transform: translateY(110vh) rotate(120deg);
    }

    100% {
      transform: translateY(-10vh) rotate(360deg);
    }
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes disappear {
    0% {
      opacity: 1;
    }
    99% {
      opacity: 0;
    }

    100% {
      display: "none";
    }
  }

  @keyframes approach {
    0% {
      transform: translateX(120vw);
    }

    100% {
      transform: translate(-50%, -50%);
    }
  }

  @keyframes sunshine {
    0% {
      box-shadow: 0 0 48px #d97706;
    }

    50% {
      box-shadow: 0 0 12px #d97706;
    }

    100% {
      box-shadow: 0 0 48px #d97706;
    }
  }

  @keyframes shadowyMoon {
    0% {
      filter: drop-shadow(0 0 2rem #6d28d9);
    }
    50% {
      filter: drop-shadow(0 0 0.5rem #6d28d9);
    }

    100% {
      filter: drop-shadow(0 0 2rem #6d28d9);
    }
  }
}
