@layer utilities {
  @keyframes widthen {
    from {
      width: 0%;
    }
    to {
      underline: white;
      width: 100%;
    }
  }

  @keyframes appear {
    from {
      height: 0%;
      color: black !important;
    }
    to {
      height: 100vh;
      color: white;
    }
  }
}
