@layer utilities {
  @keyframes widthen {
    from {
      width: 0%;
    }
    to {
      underline: white;
      width: 100%;
    }
  }

  @keyframes appear {
    from {
      height: 0%;
      color: black !important;
    }
    to {
      height: 100vh;
      color: white;
    }
  }

  @keyframes shadowy {
    0% {
      box-shadow: 0 0 64px #312E81;
    }

    50% {box-shadow: 0 0 32px #312E81}

    100% {
      box-shadow: 0 0 64px #312E81
    }
    
  }
}
